# Aim

This code converts `raw/hces24_lvl_*.txt` files to `proc/ces24_lvl_*.dta` files. 
The `.txt` files has columns separated by space, and rows separated by `\n`
The column names are given in `raw/Layout_HCES_2023-24.xlsx`

In [12]:
import pandas as pd
import os

In [32]:
inpath = "../raw/hces24/"
outpath = "../proc/"

In [80]:
COLS = [1, 6, 8]
# ROWS contains for each level - [header, nrows]
ROWS = {"lvl_01": [3, 21], "lvl_02": [29, 21]}

In [29]:
df = pd.read_excel("../raw/hces24/Layout_HCES_2023-24.xlsx", header=3, usecols=COLS, nrows=21)

In [81]:
df.columns = ["item", "start", "stop"]

In [82]:
df.tail()

                            item  start  stop
16             Questionnaire No.     39    39
17                        Level      40    41
18                   Survey Code     42    42
19  Reason for substitution Code     43    43
20                    Multiplier     44    58

In [83]:
levels = ["01", "02"]
Rows = {}
for lvl in levels:
    level = f"lvl_{lvl}"
    # layout tells me what each bit means in a string
    # Each row in the layout df has a start and end index
    layout = pd.read_excel(f"{inpath}Layout_HCES_2023-24.xlsx", header=ROWS[level][0],
                           usecols=COLS, nrows=ROWS[level][1])
    layout.columns = ['item', 'start', 'end']
    layout.set_index("item", inplace=True)
    # fname: the current txt file
    fname = f"{inpath}hces24_{level}.txt"
    file = open(fname)
    # rows will store all the lines in file
    # as a, well, row
    rows = []
    # start/end idx
    start = layout['start']
    end = layout['end']
    for line in file:
        # For each line, I extract bits with string
        # positions given by start and end. 
        # The collection of these bits makes a row in my final df
        row = [line[int(start[i])-1:int(end[i])].strip() for i in range(len(layout))]
        rows.append(row)
    
    print(rows[1])
    Rows[level] = rows

['HCES', '2024', '46667', '1', '01', '012', '06', '13', '01', '2', '2', '0110', '3', '', '3', '01', 'H', '01', '1', '', '24840.0']
['HCES2024403761323210523021 132102  201', 'H', '02', '02', '2', '2', '47', '2', '05', '9', '1', '0', '3', '', '', '2', '', '88', '1', '1', '153083.0']

In [105]:
len("".join(Rows["lvl_01"][0][:-5]))

35

In [99]:
[0]

['HCES',
 '2024',
 '46667',
 '1',
 '01',
 '012',
 '06',
 '13',
 '01',
 '2',
 '2',
 '0110',
 '3',
 '',
 '2',
 '01',
 'H',
 '01',
 '1',
 '',
 '16669.0']

In [49]:
layout.head()

                      Item Byte Position  Unnamed: 8
0                Common-ID             1        38.0
1        Questionnaire No.            39        39.0
2                    Level            40        41.0
3           Person Srl No.            42        43.0
4  Relation to head (code)            44        44.0